@model IEnumerable<EmployeeDto>

@{
    ViewData["Title"] = "Employees";

}

<h1>All Employees</h1>

<br />
<br />

<a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Create New Employee</a>

<br />

<form asp-action="Index" method="get" class="mt-5 row justify-content-center align-items-center " >
    <div class="row col-8 offset-1">
        <div class="col-8">
            <input type="text" name="search" class="form-control" id="searchInp" placeholder="Search By Name"/>
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-success"/>
        </div>
    </div>
</form>

@if (Model.Count() > 0)
{
    <table class="mt-5 table table-striped table-hover">
        <thead class="text-center">
            <tr>
                <th>@Html.DisplayNameFor(X => X.Name)</th>
                <th>@Html.DisplayNameFor(X => X.Email)</th>
                <th>@Html.DisplayNameFor(X => X.Department)</th>
                <th>@Html.DisplayNameFor(X => X.EmployeeType)</th>
                <th>@Html.DisplayNameFor(X => X.Age)</th>
                <th>@Html.DisplayNameFor(X => X.Salary)</th>
                <th>@Html.DisplayNameFor(X => X.IsActive)</th>
                <th>@Html.DisplayNameFor(X => X.Gender)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <partial name="Partial/EmployeeListPartial" model="Model" />
        </tbody>

    </table>

}
else
{
    <div class="alert alert-info mt-3">
        <h3> Sorry There Is No Employees :(</h3>
    </div>

}